<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} | MPS227</title>

    <link rel="stylesheet" href="{{site.url}}/css/foundation.css">
    <link rel="stylesheet" href="{{site.url}}/css/app.css">
    <link rel="stylesheet" href="{{site.url}}/css/mystyles.css">
    <link rel="stylesheet" href="{{site.url}}/css/foundation-icons/foundation-icons.css" />

    <script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js"
        integrity='sha512-6FaAxxHuKuzaGHWnV00ftWqP3luSBRSopnNAA2RvQH1fOfnF/A1wOfiUWF7cLIOFcfb1dEhXwo5VG3DAisocRw=='
        crossorigin="anonymous"></script>
    <script src="{{site.url}}/js/vendor/jquery.js"></script>
    <script src="{{site.url}}/js/vendor/what-input.js"></script>
    <script src="{{site.url}}/js/vendor/foundation.js"></script>
    <script src="{{site.url}}/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $(document).foundation();
        });
    </script>
</head>

<body>
    {% include "partials/site-head.html" %}
    <div class="main">
        {% block content %}{% endblock %}
    </div>
    {% include "partials/site-foot.html" %}
</body>

</html>